/* 
    Document   : ProgressBar
    Created on : Dec 31, 2012, 3:41:57 PM
    Author     : miguel
    Description:
        Purpose of the stylesheet follows.
*/

.progress {
    width:100%;
    border:2px solid #222;
    background:#eee;
    border-radius:3px;
}

.progress .cell {
    text-align: center;
    border-right:1px solid #222;
    font-size:22px;
    color:white;
}

.progress .cell.last {
    border:none;
}

.progress .cell .ui-progressbar-value {
    background-color:#bfd71a;
    background-image:url('../Img/gradient-weak.png');
    background-position: bottom center;
    background-repeat:repeat-x;
    background-size: auto 100%;
}

.progress .cell .caption {
    color:#666;
}